<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796956102599-njc69q04kjfsl9u02uidtun860p9ehn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796956102599-njc69q04kjfsl9u02uidtun860p9ehn6</string>
	<key>API_KEY</key>
	<string>AIzaSyDLRszOUJvoW1ciu9RxaDiDkdlEBJNwSTk</string>
	<key>GCM_SENDER_ID</key>
	<string>796956102599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sisksenpai.jobfinderapp</string>
	<key>PROJECT_ID</key>
	<string>fastjob-ceb5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fastjob-ceb5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796956102599:ios:089b7ae043724535</string>
	<key>DATABASE_URL</key>
	<string>https://fastjob-ceb5a.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7741512286979104~9377249969</string>
</dict>
</plist>